 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Online Sock Store</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
            <li><a href="{{ url_for('orders') }}">Orders</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block page_content %}
    {% endblock %}

 </body>
</html>
