{% extends "base.html" %}

{% block page_content %}
<div class="container">

  <h1> Current Orders </h1>
    <div>
      <table>
        <thead>
          <td>Name</td>
          <td>Quantity</td>
          <td>User</td>
          <td>City</td>
        </thead>
         {% for order in orders %}
          <tr>
            <td>{{ order.item }}
            </td>
            <td>{{ order.quantity }}
            </td>
            <td>{{ order.buyer_id }}
            </td>
            <td>{{ order.city }}
          </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
