{% extends "base.html" %}

{% block page_content %}
<div class="container">

  <h1> Current Orders </h1>
    <div>
      <table>
        <thead>
          <td>Item Name</td>
          <td>Quantity</td>
          <td>Total Cost</td>
          <td>Buyer</td>
          <td>Date Ordered</td>
        </thead>
         {% for order in orders %}
          <tr>
            <td>{{ order.product_name }}
            </td>
            <td>{{ order.quantity }}
            </td>
            <td>{{ "%.2f" % (order.total_cost,) }}
            </td>
            <td>{{ order.customer_name }}
            </td>
            <td>{{ order.date_ordered }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
